{% load staticfiles %}
<!-- Footer -->
<!--<div>-->
<!--    <br><br><br>-->
<!--</div>-->
<!--<footer class="py-3 bg-dark fixed-bottom">-->
<!--    <div class="container">-->
<!--        <p class="m-0 text-center text-white">Copyright &copy; www.brucewang.com 2019</p>-->
<!--    </div>-->
<!--</footer>-->

<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>