{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
<div class="container">
    <h2 class="mt-4">京东手机商品展示</h2>
    <div>
        {% for line in phonelist %}
            <div class="row mb-9">
                <div class="col-1 themed-grid-col">{{ line.id }}</div>
                <div class="col-3 themed-grid-col">{{ line.name }}</div>
                <div class="col-1 themed-grid-col">{{ line.price }}</div>
                <div class="col-1 themed-grid-col">{{ line.commit }}</div>
                <div class="col-2 themed-grid-col">{{ line.shop }}</div>
                <div class="col-1 themed-grid-col">{{ line.icons }}</div>
                <div class="col-3 themed-grid-col"><img src="{{ line.image }}"/></div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}