{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <h2 class="mt-4">豆瓣电影Top250</h2>
    <div>
        {% for line in p_movie %}
            <div class="row mb-9">
                <div class="col-1 themed-grid-col">{{ line.index }}</div>
                <div class="col-3 themed-grid-col"><<{{ line.title }}>></div>
                <div class="col-2 themed-grid-col">导演：{{ line.director }}</div>
                <div class="col-2 themed-grid-col">演员：{{ line.actor }}</div>
                <div class="col-1 themed-grid-col">{{ line.time }}</div>
                <div class="col-1 themed-grid-col">{{ line.region }}</div>
                <div class="col-1 themed-grid-col">{{ line.type }}</div>
                <div class="col-1 themed-grid-col">{{ line.score }}</div>
<!--                <div class="col-4 themed-grid-col"><img src="{{ line.images }}"></div>-->
            </div>
        {% endfor %}
    </div>
    {% for film in p_movie %}
        {{film.full_name|upper }}<br>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if p_movie.has_previous %}
                <a href="?page=1">&laquo; 首页</a>
                <a href="?page={{ p_movie.previous_page_number }}">前一页</a>
            {% endif %}

            <span class="current">
                Page {{ p_movie.number }} of {{ p_movie.paginator.num_pages }}.
            </span>

            {% if p_movie.has_next %}
                <a href="?page={{ p_movie.next_page_number }}">后一页</a>
                <a href="?page={{ p_movie.paginator.num_pages }}">尾页 &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}