{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

<div class="container">
    <h2 class="mt-4">未来8天天气预报</h2>
    <div>
        <div class="row mb-9" style="font:bold;">
            <div class="col-3 themed-grid-col">日期</div>
            <div class="col-2 themed-grid-col">天气</div>
            <div class="col-2 themed-grid-col">温度</div>
            <div class="col-3 themed-grid-col">风向</div>
            <div class="col-2 themed-grid-col">风力</div>
        </div>
        {% for line in weatherlist %}
            <div class="row mb-9">
                <div class="col-3 themed-grid-col">{{ line.date }}</div>
                <div class="col-2 themed-grid-col">{{ line.weather }}</div>
                <div class="col-2 themed-grid-col">{{ line.temp }}</div>
                <div class="col-3 themed-grid-col">{{ line.wind }}</div>
                <div class="col-2 themed-grid-col">{{ line.strength }}</div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}